:root {
    --black: #1B1212;
    --gray:  #99A3A4;
    --white: #ffffff;
    --pink: #f34235;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

body, button {
    background-color: var(--white);
}

button {
    border-radius: 15px;
    width: 120px;
    height: 30px;
    margin: 10px;
    font-size: 1rem;
    border: 2px solid var(--pink); 
    color: var(--pink);
    box-sizing: border-box;
}

.container {
    margin: 50px auto;
    padding: 5px;
    max-width: 650px;
}
@media (max-width: 600px){
    .container {
        padding: 20px;
    }
}

h1 {
    font-size: 1.7em;
    color: var(--black);
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 1.3em;
    font-weight: 300;
    color: var(--gray);
    letter-spacing: 0.1px;
    margin: 0 0 0.5em 0;;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-frame {
    max-width: 350px;
}

.img-frame {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 60%; 
    margin: 0 0 10px 0;
    overflow: hidden;
}

.img-frame img{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.links {
    margin: 25px;
    display: flex;
    justify-content: center;
    
}

.links a:not(:last-child){
 padding: 0 60px 0 0;   
}

.toggler {
    padding: 15px;;
}

.bio {
    display: none;
    line-height: 1.6;
    font-size: 1.1rem;
}

.bio.show {
    display: block;
}