:root {
    --black: #1B1212;
    --gray:  #99A3A4;
}

body {
    font-family: "Roboto Mono", monospace;
}

h1 {
    font-size: 2em;
    color: var(--black);
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--gray);
    letter-spacing: 0.1px;
    margin: 0 0 0.5em 0;;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-frame {
    max-width: 350px;
}
.img-frame {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.img-frame img{
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}